@model CoreAzon.Models.Contact

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>
        Home
    </title>
</head>
<body>
    Hey there, @Model.FirstName @Model.LastName! Your id is @Model.id
</body>
</html>